@charset 'UTF-8';

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  direction: ltr;
  font-size: 16px;
  line-height: 1.382em;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: var(--color-background);
  overflow-y: scroll;
}

::selection {
  background-color: var(--color-selection);
}

:focus {
  border-bottom: var(--number-border-size) solid var(--color-selection);
}

:focus-visible {
  outline: var(--number-border-size) solid var(--color-selection);
  border-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-header);
  font-weight: 500;
  margin-block-start: 0.382em;
  margin-block-end: 0.618em;
  line-height: 1.382em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

big {
  font-size: larger;
}

small {
  font-size: smaller;
}

span,
p,
article,
blockquote {
  color: var(--color-text);
  font-weight: 300;
}

ol,
ul {
  padding: 16px;
}

ul {
  list-style-type: circle;
}

a {
  background-color: transparent;
  border-bottom: var(--number-border-size) solid transparent;
  font-weight: 500;
  color: var(--color-link);
  text-decoration: none;

  &:hover {
    border-bottom: var(--number-border-size) solid var(--color-link-hover);
    color: var(--color-link-hover);
    transition: all 0.5s ease;
    text-decoration: none;
  }
}

dl {
  dt {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 500;
    font-style: oblique;
  }

  dd {
    margin-bottom: 16px;
    padding-left: 16px;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
