@charset 'UTF-8';

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  margin-bottom: 64px;

  > .content__header {
    margin-top: 0;
    margin-bottom: 32px;
    padding-left: 16px;
    border: 2px solid var(--color-content-borderline);
    border-radius: var(--number-border-radius);
    color: var(--color-text-header);
    font-size: 1.8em;
  }
}

.content-item {
  margin-bottom: 16px;
  padding: 16px;
  border-radius: var(--number-border-radius);
  background-color: var(--color-content-item-background);

  @media only screen and (min-width: 540px) {
    padding: 32px;
  }

  > .content-item__header {
    margin-bottom: 16px;
    text-align: center;
  }
}
